<div class="col-md-12"
    style="width: 900px; margin: auto; border: 1px solid rgb(190, 197, 190);border-radius: 10px; padding: 25px; margin-top: 75px">
    <h2 class="text-center">Add Role</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="form-group col-md-6">
                <label for="domain">Domain:</label>
                <select formControlName="domain" class="form-control" name="domain" (change)="loadCompetencyAndOrg($event.target.value)">
                    <option value="-1">Please select</option>
                    <option value={{domain.id}} *ngFor="let domain of domains">{{domain.name}}</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="org">Organization</label>
                <select formControlName="org" class="form-control" name="org" (change)="loadPosition($event.target.value)">
                    <option value="-1">Please select</option>
                    <option value={{org.id}} *ngFor="let org of orgs">{{org.name}}</option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label for="position">Position</label>
                <select formControlName="position" class="form-control" name="position" (change)="updatePositionObj($event)" >
                    <option value="-1">Please select</option>
                    <option value={{position.id}} *ngFor="let position of positions">{{position.name}}</option>
                </select>
            </div>
            <!-- <div class="form-group col-md-6">
                <label for="careerPath">Career Path:</label>
                <input formControlName="careerPath" placeholder="Career Path" name="careerPath" class="form-control"
                    id="careerPath">
            </div> -->

            <div class="form-group col-md-6">
                <label for="domainRoles">Domain Roles:</label>
                <input formControlName="domainRole" placeholder="Domain Roles" name="domainRoles" class="form-control"
                    id="domainRole">
            </div>
            <div class="form-group col-md-6">
                <label for="competencySelect">Competencies required</label>
                <select class="form-control" name="competencySelect" (change)="updateSelectedCompetency($event.target.value)">
                    <option value="-1">Please select</option>
                    <option value={{competency.id}} *ngFor="let competency of competencies">{{competency.name}}</option>
                </select>
            </div>
            <div class="col-md-6 form-group">
                <div class="btn btn-success" style="width: 150px; position: absolute; bottom: 0;"
                    (click)="addCompetency()">Add new</div>
            </div>
            <div class="col-md-12 user-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Competency</th>
                            <th>Category</th>
                            <th> Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let competency of getArray()">
                            <td>{{competency.name}}</td>
                            <td>{{competency.category}}</td>
                            <td>
                                <button class="btn btn-danger" (click)="deleteCompetency(competency)" style="margin-left: 20px;">
                                    Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <!-- <div class="form-group col-md-12">
                <textarea [value]="competenciesTextarea" class="form-control" rows="5" id="competenciesRequired"></textarea>
            </div> -->

            <div class="form-group col-md-6">
                <label for="projectCategory">Project Category:</label>
                <input formControlName="category" placeholder="Project Category" name="projectCategory"
                    class="form-control" id="projectCategory">
            </div>
            <div class="form-group col-md-6">
                <label for="kra">KRA (key responsible area):</label>
                <input formControlName="kra" placeholder="KRA (key responsible area)" name="kra" class="form-control"
                    id="kra">
            </div>

            <div class="form-group col-md-6">
                <label for="scope">Scope:</label>
                <input formControlName="scope" placeholder="Scope" name="scope" class="form-control" id="scope">
            </div>
            <div class="form-group col-md-6">
                <label for="responsibilities">Responsibilities:</label>
                <input formControlName="responsibilities" placeholder="Responsibilities" name="responsibilities"
                    class="form-control" id="responsibilities">
            </div>

            <div class="form-group col-md-6">
                <label for="industrialRole">Industrial Role:</label>
                <input formControlName="industrialRole" placeholder="Industrial Role" name="industrialRole"
                    class="form-control" id="industrialRole">
            </div>
            <div class="form-group col-md-6">
                <label for="entryCriteria">Entry Criteria:</label>
                <input formControlName="entryCriteria" placeholder="Entry Criteria" name="entryCriteria"
                    class="form-control" id="entryCriteria">
            </div>

        </div>
        <div class="row">
            <div class="col-md-6" style="display: flex; justify-content: center;">
                <button class="btn btn-success" style="width: 150px;">Add new</button>
            </div>
            <div class="col-md-6" style="display: flex; justify-content: center;">
                <div class="btn btn-danger" style="width: 150px;" (click)="goBack();">Back</div>
            </div>
        </div>

    </form>
</div>