<div class="col-md-6 user-container">
    <h2 style="margin: auto"> List Role</h2>
    <button class="btn btn-success" style="width:200px; margin-bottom : 10px" (click)="addRole()"> Add Role</button>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Domain</th>
        <th>Project Category</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let role of roles">
        <td>{{role.positionObj.organizationObj.domainObj.name}}</td>
        <td>{{role.category}}</td>
        <td>
          <button class="btn btn-info" (click)="editRole(role)">Edit</button>
          <button class="btn btn-danger" (click)="deleteRole(role)" style="margin-left: 20px;"> Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  