<div class="col-md-6 user-container">
    <h2 style="margin: auto"> List Competencies</h2>
    <button class="btn btn-success" style="width:200px; margin-bottom : 10px" (click)="addCom()"> Add Position</button>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Domain</th>
        <th>Category</th>
        <th>competency Name</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let competency of competencies">
        <td>{{competency.dmOjb.name}}</td>
        <td>{{competency.category}}</td>
        <td>{{competency.name}}</td>
        <td>
          <button class="btn btn-info" (click)="editCom(competency)">Edit</button>
          <button class="btn btn-danger" (click)="deleteCom(competency)" style="margin-left: 20px;"> Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  