<div class="col-md-12"
  style="width: 500px; margin: auto; border: 1px solid rgb(190, 197, 190);border-radius: 10px; padding: 25px; margin-top: 100px">
  <h2 class="text-center">Add Domain</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="username">Domain Name:</label>
      <input type="text" formControlName="name" placeholder="Domain Name" name="name" class="form-control" id="name">
    </div>
   
    <div class="row">
      <div class="col-md-6" style="display: flex; justify-content: center;">
        <button class="btn btn-success" style="width: 150px;">Add new</button>
      </div>
      <div class="col-md-6" style="display: flex; justify-content: center;">
        <div class="btn btn-danger" style="width: 150px;" (click)="goBack();">Back</div>
      </div>
    </div>
  </form>
</div>