<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="navbar-header">
    <a class="navbar-brand" href="">RoleNxt-Admin</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/list-domain']">Domain</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" >
        <a class="nav-link" [routerLink]="['/list-org']">Organization</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" >
        <a class="nav-link" [routerLink]="['/list-position']">Position</a>
      </li>
      <!-- <li class="nav-item" [routerLinkActive]="['active']" >
        <a class="nav-link" [routerLink]="['/list-structure']">Structure</a>
      </li> -->
      <li class="nav-item" [routerLinkActive]="['active']" >
        <a class="nav-link" [routerLink]="['/list-com']">Competencies</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" >
        <a class="nav-link" [routerLink]="['/list-role']">Roles</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" >
        <a class="nav-link" [routerLink]="['/list-cp']">Career Path</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" >
        <a class="nav-link" [routerLink]="['/list-con']">Connection</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
