<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/orgchart/assets/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="/orgchart/assets/bootstrap.min.js"></script>
	<script src="/orgchart/assets/jquery-3.4.1.min.js"></script>
	<link href="/orgchart/department.css" rel="stylesheet">

</head>
</body>
<div style="margin-top: 50px;margin-bottom: 50px;">
        <div class="container">
		  <div id="myButton" class="jumbotron text-center">
	      <span th:each="department : ${items}" style="border: 1px solid rgba(0,0,0,0.1); box-shadow: inset 0 1px 0 rgba(255,255,255,0.7);margin-left: 20px;" class="btn btn-success btn-lg"><i class="glyphicon glyphicon-ok"></i> <span th:onclick="showDepartmentStructure('[(${department.getName()})]')" th:text="${department.getName()}"></span>
</span>
		  <div class="end">
	  
	    </div>
	</div>
	<script src="/orgchart/department.js"></script>
	</body>
</html>