<h1><div th:text="${item.getPosition()}"></div></h1>
<br/>
<br/>
<h3>Entry Criteria</h3>
<div th:text="${item.getEntryCriteria()}"></div>
<br/>
<h3>Industrial Role</h3>
<div th:text="${item.getIndustrialRole()}"></div>
<br/>
<h3>Responsibilities</h3>
<div th:text="${item.getResponsibilities()}"></div>
<br/>
<h3>Scope</h3>
<div th:text="${item.getScope()}"></div>
<br/>
<h3>KRA (key responsible area)</h3>
<div th:text="${item.getKRA()}"></div>
<br/>
<h3>Competencies required</h3>
<div th:text="${item.getCompetencyRequires()}"></div>
<br/>
<h3>Project Category</h3>
<div th:text="${item.getProjectCategory()}"></div>
<br/>
<h3>Domain Roles</h3>
<div th:text="${item.getDomainRoles()}"></div>
<br/>
<h3>Career path</h3>
<div th:text="${item.getCareerPath()}"></div>
<br/>
<h3>Domain</h3>
<div th:text="${item.getDomain()}"></div>
<br/>
